<form action="#" method="post">
    <label for="name">nombre del producto</label>
    <input type="text" id="name" placeholder="Producto">
    <br>
    <label for="description">descripción del producto</label>
    <input type="text" id="description" placeholder="Descripción">
    <br>
    <label for="price">Precio del producto</label>
    <input type="number" id="price" placeholder="Precio">
    <br>
    <label for="code">Codigo del producto</label>
    <input type="text" id="code" placeholder="codigo del producto">
    <br>
    <label for="stock">Cuantos producto hay</label>
    <input type="stock" id="stock" placeholder="stock">
    <br>
    <button type="button" id="addNewProduct">Agregar producto</button>
</form>

<div id="allProductsContainer">
    {{#each products}}
        <div class="card" data-id={{this.id}}>
            <p>Producto: {{this.title}} </p>
            <p>Descripción {{this.description}} </p>
            <p>Precio: {{this.price}} </p>
            <button class="btnDelate">Eliminar producto</button>
        </div>
    {{/each}}
</div>
<script src="socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>
