<header>
    <h1>Carrito de compras</h1>
    <a id="shoppingCart" href="/products">Productos ➡</a>
</header>
<main>
    <section class="shoppingCart__sections">
        <div></div>
        <div>Precio</div>
        <div>Cantidad</div>
    </section>
    <section class="shoppingCart">
        <ul class="shoppingCart__product">
            {{#each cartProducts}}
                <li>
                    <h3>{{this.product.title}}</h3>
                    <p>{{this.product.description}}</p>
                </li>
                <li>${{this.product.price}}</li>
                <li>{{this.quantity}}</li>
            {{/each}}
        </ul>
    </section>

    <section>

    </section>
</main>
