*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
    font-family: "Montserrat", serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body{
    /* height: 100vh; */
    padding: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
main{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    height: inherit;
    justify-content: space-between;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.pageContainer{
    display: flex;
    gap: 16px;
}
ul{
    display: grid;
    gap: .625rem;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
li{
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    color: red;
    border: red solid .0625rem;
    padding: 1rem;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
}
form {
    width: 100%;
}
button{
    width: 100%;
    padding: 8px;
    border-radius: 32px;
    background: none;
    border: solid 1px red;
    cursor: pointer;
}
button:hover{
    background: red;
    color:white;
    font-weight: 500;
}
.shoppingCart{
    display: flex;
    flex-direction: column;
}
.shoppingCart__product, .shoppingCart__sections{
    display: grid;
    grid-template-columns: 50% 24% 22%;
    grid-row: 1fr;
    gap: .625rem;
}
.shoppingCart__sections div{
    padding: 1rem;
}